--- 
layout: default 
---

<main id="main" class="main">
	<div class="main-inner">
		<div class="content-wrap">
			<div id="content" class="content">
				<section id="posts" class="posts-expand">
					{% for post in site.posts %}
					<article class="post post-type-normal home-page-list" style="opacity: 1;">
						<header class="post-header">
							<h2 class="post-title" itemprop="name headline">
                					<a class="post-title-link" href="{{ post.url }}" itemprop="url" style="border-bottom: 0px solid #999;">
                  					{{ post.title }}
                					</a>
          					</h2>

							<div class="post-meta">
								<span class="post-time">
              						<span class="post-meta-item-icon">
                							<i class="fa fa-calendar-o"></i>
              						</span>
								<span class="post-meta-item-text">发表于</span>
								<time title="Post created" itemprop="dateCreated datePublished" datetime={{ post.date }}>
                						{{ post.date | date: "%Y-%m-%d" }}
              						</time>
								</span>
								<span class="post-category">
              					<span class="post-meta-divider">|</span>
								<span class="post-meta-item-icon">
                						<i class="fa fa-folder-o"></i>
              					</span>
								<span class="post-meta-item-text">分类于</span>
								<span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
									
									{% for categorie in post.categories %}
                  					<a href="/categories/signle_categories.html?cat={{ categorie }}" itemprop="url" rel="index">
                    						<span itemprop="name">{{ categorie }}</span>
									</a>&nbsp;&nbsp;
									{% endfor %}
								</span>

							</div>
						</header>

						<div class="post-body" itemprop="articleBody">
							<p>{{ post.excerpt }}</p>
							<div class="post-button text-center">
								<a class="btn" href="{{ post.url }}" rel="contents">阅读全文 »</a>
							</div>
						</div>
					</article>
					{% endfor %}
				</section>
			</div>
		</div>
	</div>
</main>