---
layout: default 
---


<main id="main" class="main">
	<div class="main-inner">
		<div class="content-wrap">
			<div id="content" class="content">
				<h3>文章列表</h3>
				<ul>
					{% for post in site.posts %}
					<li>
						<a href="{{ post.url }}">{{ post.title }}</a>
					</li>
					{% endfor %}
				</ul>

				<div id="categories-3" class="left">
					<h3>分类</h3>
					<ul>
						{% for cat in site.categories %} {{ cat[0] }} {% endfor %}
					</ul>
				</div>
				
				<div id="" class="left">
					<h3>标签</h3>
					<ul>
						{% for cat in site.tags %} {{ cat[0] }} {% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</main>